* {
  box-sizing: border-box;
}

@font-face {
	font-family: "MyFont";
	src: url("auto.woff2") format("woff2");
	font-display: optional;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a:hover {
  text-decoration: none;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: #333;
}

.footer-links {
  display: inline;
  -webkit-text-fill-color: #fff;
  padding: 3px 3px;
}

/* 去掉所有链接的下划线 */
a {
  text-decoration: none;
}

/* 悬停时给所有链接添加下划线 */
a:hover {
  text-decoration: underline;
}

.telephone:hover {
  -webkit-text-fill-color: #ff6e6e;
}

.email:hover {
  -webkit-text-fill-color: #ff6e6e;
}

.mod_copyright_split {
  border-left: 1px;
  padding-left: 10px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1,
h2 {
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ddd;
  color: #333;
}

/* 手机端适配 */
@media screen and (max-width: 600px) {
  header {
    padding: 10px;
  }

  nav ul {
    font-size: 14px;
  }

  nav li {
    float: none;
    display: inline-block;
  }

  main {
    padding: 10px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  form input,
  form textarea {
    padding: 5px;
    font-size: 14px;
  }
}

/* 平板端适配 */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 15px;
  }

  nav ul {
    font-size: 16px;
  }

  main {
    padding: 15px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  form input,
  form textarea {
    padding: 8px;
    font-size: 16px;
  }
}
